{{- $name := "Daniel Yrovas" -}}
{{- $email := "daniel@yrovas.com" -}}

[data]
  name = "{{ $name }}"
  email = "{{ $email }}"
[data.gpg]
  desktop = "C181BAC70BDE7C00"
  laptop = "C181BAC70BDE7C00"

[git]
  autoCommit = false
  autoPush = false
