{{- $name := "Daniel Yrovas" -}}
{{- $email := "daniel@yrovas.com" -}}

[data]
  name = "{{ $name }}"
  email = "{{ $email }}"
[data.gpg]
  desktop = "C181BAC70BDE7C00"
  laptop = "738FB4BF2357F163"

[git]
  autoCommit = false
  autoPush = false

[edit]
  command = "nvim"

[merge]
  command = "nvim"
  args = ["-d", {{ `"{{ .Destination }}", "{{ .Source }}", "{{ .Target }}"` }} ]
