[user]
    name = Daniel Yrovas
    email = dan@danielyrovas.com
{{- if eq .chezmoi.hostname "desktop" }}
    signingkey = {{ .gpg.desktop }}
{{- else if eq .chezmoi.hostname "xps-laptop" }}
    signingkey = {{ .gpg.laptop }}
{{- else if eq .chezmoi.hostname "M1330" }}
    signingkey = {{ .gpg.mactop }}
{{- end }}
[init]
    defaultBranch = trunk
[ui "color"]
    ui = always
[color]
    ui = true
[core]
    safecrlf = false
    pager = delta
	autocrlf = input
[merge]
    tool = nvim -d
    conflictstyle = diff3
[alias]
    c = commit
    cm = commit -m
    ca = commit --amend --no-edit
    cma = commit --amend -m
    s = status
    st = status -u
    lg = log --oneline
    last = log -1 HEAD
    cl = log -p -- ':(exclude)Cargo.lock'
    f = push --force-with-lease
    # https://stackoverflow.com/a/11688523/472927
    ss = "!f() { git stash show stash^{/$*} -p; }; f"
    sa = "!f() { git stash apply stash^{/$*}; }; f"
    sl = stash list
    sdiff = !git diff && git submodule foreach 'git diff'
    spush = push --recurse-submodules=on-demand
    supdate = submodule update --remote --merge
    publish = !git push --set-upstream origin \"$(git rev-parse --abbrev-ref HEAD)\"
    alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
[pull]
    ff = only
[push]
    default = simple
[help]
    autocorrect = 1
[url "git@github.com:"]
    insteadOf = gh:
[github]
    user = danielyrovas
[diff]
    algorithm = patience
    compactionHeuristic = true
    tool = nvimdiff
    colorMoved = default
[difftool]
    prompt = false
[diff "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[commit]
{{- if eq .chezmoi.hostname "desktop" }}
    gpgsign = true
{{- end }}
{{- if eq .chezmoi.hostname "xps-laptop" }}
    gpgsign = true
{{- end }}
[protocol]
    version = 2
[sendemail]
    smtpserver = /usr/bin/msmtp
    annotate = yes
[diff "odf"]
    textconv = odt2txt
[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
